
.property-container{
    width: 60vw;
    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
    margin-top: 50px;
    flex-wrap: wrap;
   
}

.nav {
    position: sticky;
    top: 0;
}

.card{
    margin: 5px;
}

